body{
    font-family: 'Antic Didone', serif;
/* font-family: 'Open Sans', sans-serif; */
    background:#ccc;
}
/*------------------ top-bar styling----------------- */
.top-bar{
    padding: 3px 52px 3px 52px;
    font-size: 14px;
    color: white;
    background: black;
}
.fa-envelope, .fa-phone{
    color:red;
}
.top-bar span{
    margin-left: 5px;
}
.top-bar .col-sm-6:first-child{
    text-align: left;
}
.top-bar .col-sm-6:last-child{
    text-align: right;
}
/* media-query */
@media (max-width: 575.98px){
    .top-bar .col-sm-6:first-child,
    .top-bar .col-sm-6:last-child{
        text-align: center;
    }
}

/*------------------ Navigation Bar ------------------*/
.navbar{
    padding:0 52px 0 52px;
    background-color:rgb(44, 43, 43);
    
}
.navbar-brand{
    color:white;
}
.navbar-brand:hover{
    color:red;
}
.navbar-toggler{
    color:white;
}
.nav-item a{
    color:white;
}
.nav-item a:hover{
    color: red;
}
a.dropdown-toggle:visited {
    color: red;
    text-decoration: none;
  }
a.dropdown-toggle:hover{
    color:white;
    text-decoration: none;
}
.dropdown-menu a:hover{
    color:white;
    background-color:red;
}

/*------------------ carousel-item ------------------*/
.carousel-item img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}
.carousel-control-prev .sr-only{
    color: black;
    background-color: black;
}
.carousel-control-prev.carousel-control-prev-icon{
    color:black;
}

ul.carousel-indicators li.active{
    background: black;
}

/*------------------ shop area ------------------*/
.shop-area{
    padding-top:8px;
    background-color: rgb(226, 224, 224);
}
.section-title{
    padding-top:8px;
    text-align: center;
    background-color: rgb(247, 243, 243);
}
.f_product{
    background-color: white;
}
.onecontainer{
    /* height: 300px; */
    background-color: rgb(243, 234, 234);
    margin: 10px;
    text-align: center;
}

@media( min-width: 1081px ) {
     .f_product .image img { width: 298px; 
      }
}
/*@media screen and ( max-width: 973px ) {
    .f_product .image img { width: 300px; } 
    .f_product .image img { height: 320px; } }*/

/* @media screen and ( min-width: 857px ){
    .f_product .image img { width: 300px; }
} */
.f_product .image img { height: 220px; }
