{%  extends 'adminmain.html' %}
{% load static %}
{%block title%}Delete Message{%endblock%}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<p>Are you sure you want to delete "{{messages}}"?</p>

			<form action="{% url 'home:deletemessage' messsages.subject  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'home:main' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}